<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Error</h1>
    <p>Sorry for your troble ! we working on this ..</p>


    <%- include('includes/end.ejs') %>